





.center-content {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 750px /2);
}






.category-circles {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin: auto;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    // background: #d4d4d4;
}
.category-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 15px;
    background: #fff;
    border: 0px solid #737171eb;
    box-shadow: 0px 0px 4px 2px #595956db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    span {
        display: none;
        z-index: 50;
        position: relative;
    }
    cursor: pointer;
    .category-circle-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        border-radius: 15px;
        z-index: 50;
        position: relative;
    }
    .category-circle-tint {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        z-index: 70;
        &:hover + .category-circle-img {
            display: none;
        }
        &:hover + .category-circle-img + span {
            display: block;
        }
    }
}


