
.register-btn {
    background: #FB8F1D;
    width: 140px;
  }
  
  .login-btn {
    border: 1px solid #FB8F1D;
    width: 140px;
    color: #FB8F1D;
  }
  
  button {
    border-radius: 10px !important;
    height: 40px;
  }
  
  
  .start-btn {
    background: #FB8F1D;
    width: 200px;
    height: 60px;
    font-size: 1.5rem !important;
  }